record(waveform, "$(P):$(R)") {
  field(PINI,    "$(PINI)")
  field(DTYP,    "asynOctetRead")
  field(NELM,    "$(NELM)")
  field(FTVL,    "CHAR")
  field(SCAN,    "$(SCAN)")
  field(INP,     "@asyn($(PORT),$(ADDR))$(PARAM)")
}
