record(waveform, "$(P):$(R)") {
  field(DESC, "$(DESC)")
  field(DTYP,	"asynInt32ArrayOut")
  field(NELM,	"$(N)")
  field(FTVL,	"LONG")
  field(SCAN,	"Passive")
  field(INP,	"@asyn($(PORT),$(ADDR))$(PARAM)")
}
