record(waveform, "$(P)$(R):16") {
  field(DESC,    "$(DESC)")
  field(DTYP,    "asynInt16ArrayIn")
  field(NELM,    "10000000")
  field(FTVL,    "SHORT")
  field(SCAN,    "I/O Intr")
  field(INP,     "@asyn($(PORT),$(ADDR))$(PARAM)")
  field(FLNK,    "$(P)$(R):SS PP")
}

record(subArray, "$(P)$(R):SS") {
  field(DESC,    "$(DESC) Subarray")
  field(INP,     "$(P)$(R):16")
  field(FTVL,    "SHORT")
  field(MALM,    "65536")
  field(NELM,    "4096")
  field(INDX,    "0")
}
