record(waveform,  "$(P)$(R):St") {
  field(DESC,     "$(DESC)")
  field(DTYP,     "asynFloat64ArrayOut")
  field(NELM,     "$(N)")
  field(FTVL,     "LONG")
  field(SCAN,     "Passive")
  field(INP,      "@asyn($(PORT),$(ADDR))$(PARAM)")
  field(FLNK,     "$(P)$(R)-FL")
}

record(bo,    "$(P)$(R)-FL") {
	field(SCAN,	"Passive")
	field(VAL,	"1")
	field(OUT,	"$(P)$(R):Rd.PROC")
}