record(waveform, "$(P):$(R):16") {
  field(DESC,	"$(DESC)")
  field(DTYP,	"asynInt16ArrayIn")
  field(NELM,	"10000000")
  field(FTVL,	"SHORT")
  field(SCAN,	"I/O Intr")
  field(INP,	"@asyn($(PORT),$(ADDR))$(PARAM)")
}
