record(waveform, "$(P):$(R)") {
  field(DESC,   "$(DESC)")
  field(DTYP,	"asynInt32ArrayIn")
  field(NELM,	"5000000")
  field(FTVL,	"LONG")
  field(SCAN,	"I/O Intr")
  field(INP,	"@asyn($(PORT),$(ADDR))$(PARAM)")
}
