record(waveform, "$(P):$(R)") {
  field(DESC, "$(DESC)")
  field(DTYP,	"asynOctetRead")
  field(NELM,	"$(N)")
  field(FTVL,	"CHAR")
  field(SCAN,	"Passive")
  field(INP,	"@asyn($(PORT),$(ADDR))$(PARAM)")
}
