record(waveform, "$(P):$(R)") {
  field(DESC, "$(DESC)")
  #field(DTYP,	"asynFloat64ArrayIn")
  field(DTYP,	"asynInt32ArrayIn")
  field(NELM,	"$(N)")
  field(FTVL,	"LONG")
  field(SCAN,	"Passive")
  field(PHAS,	"1")
  field(INP,	"@asyn($(PORT),$(ADDR))$(PARAM)")
}
